body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    background-color: #333;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

header h1, header h2 {
    color: #fff;
    margin: 0;
}

header h1 {
    font-size: 2.5em;
}

header h2 {
    font-size: 2em;
    color: #ddd;
}


nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}


main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

form {
    max-width: 600px;
    margin: auto;
    padding: 1em;
    background: #fff;
    border-radius: 5px;
}

label {
    margin: 0.5em 0 0.2em;
    color: #333333;
    display: block;
}

input, textarea {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1em;
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* index.html */

section {
    margin: 20px 0;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 1.8em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

section p {
    font-size: 1em;
    color: #555;
    line-height: 1.6;
    text-align: center;
}


/* class */
.centered {
    text-align: center;
}

/* products.html */
.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.product {
    background: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

.product-image {
    width: 200px;  /* Juster til ønsket bredde */
    height: 200px;  /* Juster til ønsket høyde */
    object-fit: cover;
    display: block;
    margin: auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.modal-content {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}



/* cart.html */

.cart-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.cart-item {
    background: #fff;
    border: 2px solid #ccc;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.cart-quantity {
    width: 50px;
    text-align: center;
    margin-bottom: 10px;
}

#total-sum {
    font-size: 1.5em;
    color: #333;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-buttons {
    text-align: center;
    margin-top: 20px;
}

.cart-buttons button {
    margin: 5px;
    padding: 20px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cart-buttons button:hover {
    background-color: #555;
}

.cart-product-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin: auto;
}

.cart-item p {
    margin: 10px 0; /* Legger til mellomrom mellom linjene */
}
